#my-awesome-dropzone {
    min-height: 0px;
    height: 150px;
    padding: 0px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

div.dz-preview.dz-file-preview {
    margin: 5px;
}

#call-to-action-video-upload {
    margin-bottom: 10px;
    font-size: 22px;
}

section#services {
    padding-top: 100px;
}

div.dz-preview div.dz-details {
    height: 50px !important;
}

div.intro-text {
    padding-top: 20%;
}

header {
    background-image: url(../img/camobama-reduced.jpg) !important;
}

button.btn.btn-xl.submit {
    height: 100%;
    width: 100%;
    padding: 6px;
    font-size: 14px;
}

div.row.text-center.form {
    margin-top: 15px;
    margin-bottom: 10px;
}

#video-feedback {
    text-align: center;
}

#video-feedback video {
    height: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#video-feedback table {
    margin-bottom: 0px;
}

#video-feedback th.questionnaire.yes-no,
#video-feedback td.questionnaire.yes-no
{
    text-align: center;
}

#video-feedback table.questionnaire {
    font-size: 12px;
}

#video-feedback th.questionnaire.theme,
#video-feedback td.questionnaire.theme
{
    padding-right: 0px;
}

#video-feedback div.col-md-1 {
    width: 10% !important;
}
#video-feedback div.col-md-2 {
    width: 20% !important;
}
#video-feedback div.col-md-8 {
    width: 80% !important;
}
#video-feedback div.col-md-4 {
    width: 40% !important;
}

#video-feedback td.questionnaire.answer
{
    padding-top: 4px;
    padding-bottom: 4px;
}

#video-feedback textarea.freetext-feedback {
    font-size: 12px;
    margin-top: 2px;
}

#video-feedback button.feedback {
    height: 35px;
    margin-top: 5px;
}